.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 90vh;
  width: 90%;
}

.bill {
  overflow-y: auto;
  border: 1px solid #202024;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  background-color: #202024;
  border-radius: 5px 0 0 5px;
  width: 50%;
  height: 100%;
  padding: 0 32px 32px 0;
}

.title {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 32px;
  margin-left: 32px;
}

.size20 {
  color: #FFFFFF;
  width: 20px;
  height: 20px;
}

.addProduct, .addClient {
  cursor: pointer;
  margin-left: 12px;
  border: none;
  background-color: #202024;
  width: 30px;
  height: 30px;
  padding: 5px;
}

.clients, .products {
  width: 100%;
}

.products {
  margin-top: 64px;
}

.header {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.resume {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #FFFFFF;
  margin-top: 32px;
  width: 100%;
}

.details {
  border: 1px solid #202024;
  width: 50%;
  height: 100%;
  padding: 0 32px;
}

.titleDetails {
  font-size: 32px;
  color: #202024;
}

.border {
  border: 1px solid #c1c1c1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 50vh;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.invisible {
  display: none;
}

.marginTop {
  margin-top: 128px;
}

.select {
  padding: 5px 0 5px 5px;
  margin-right: 16px;
}

.clearBtn {
  cursor: pointer;
  align-self: center;
  border: none;
  border-radius: 5px;
  background-color: #b8860b;
  color: #FFFFFF;
  padding: 5px 8px;
}