.background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #202024DD;
  width: 100%;
  height: 100vh;
  z-index: 5;
}

.box {
  border-radius: 10px;
  background-color: #C1C1C1;
  width: 50%;
  height: 50%;
  padding: 32px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  color: #202024;
  font-weight: bold;
  font-size: 20px;
}

.exit {
  cursor: pointer;
  color: red;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  border-radius: 3px;
  padding: 3px 6px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 32px;
}

.label {
  margin-right: 12px;
  width: 25%;
}

.wrapper {
  display: flex;
  width: 100%;
  margin-top: 8px;
}

.input {
  align-self: flex-end;
  width: 75%;
}

.add, .cancel {
  margin-top: 64px;
}

.add {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 6px 12px;
  margin-left: 16px;
}

.cancel {
  background-color: #e22f2f;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 6px 12px;
}